// Biến màu sắc chung.
$bg-orange: #fff7f5; // Dùng cho màu nền - Cam nhạt
$bg-white: #ffffff; // Dùng cho màu nền - Trắng
$bg-green: #00613d; // Dùng cho màu nền - Xanh lá cây
$bg-primary: #ef5222; // Dùng cho màu nền - Cam đậm
$text-primary-color: #ef5222; // Dùng cho màu chữ - Cam đậm
$text-secondary-color: #fff7f5; // Dùng cho màu chữ - Cam nhạt
$text-error-color: #e12424; // Dùng cho màu chữ - Đỏ
$text-white-color: #fff; // Dùng cho màu chữ - Trắng
$text-black-color: #111; // Dùng cho màu chữ - Đen
$text-green-color: #00613d; // Dùng cho màu chữ - Xanh lá cây
$text-green-color-2: #50b55a; // Dùng cho màu chữ - Xanh lá cây
$text-gray-color-400: #bdbdbd; // Dùng cho màu chữ - Xám
$text-gray-color-600: #637280; // Dùng cho màu chữ - Xám
$text-blue-color-branch: #273581; // Dùng cho màu chữ - Xanh dương

// Import Tailwind CSS.
@tailwind base;
@tailwind components;
@tailwind utilities;

// Import font from Google Fonts.
// Link truy cập font: https://fonts.google.com/specimen/Inter+Tight
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// Biến màu sắc chung.
:root {
   --bg-orange: #fff7f5; // Dùng cho màu nền - Cam nhạt
   --bg-white: #ffffff; // Dùng cho màu nền - Trắng
   --bg-green: #00613d; // Dùng cho màu nền - Xanh lá cây
   --bg-primary: #ef5222; // Dùng cho màu nền - Cam đậm
   --text-primary-color: #ef5222; // Dùng cho màu chữ - Cam đậm
   --text-secondary-color: #fff7f5; // Dùng cho màu chữ - Cam nhạt
   --text-error-color: #e12424; // Dùng cho màu chữ - Đỏ
   --text-white-color: #fff; // Dùng cho màu chữ - Trắng
   --text-black-color: #111; // Dùng cho màu chữ - Đen
   --text-green-color: #00613d; // Dùng cho màu chữ - Xanh lá cây
   --text-green-color-2: #50b55a; // Dùng cho màu chữ - Xanh lá cây
   --text-gray-color-400: #bdbdbd; // Dùng cho màu chữ - Xám
   --text-gray-color-600: #637280; // Dùng cho màu chữ - Xám
   --text-blue-color-branch: #273581; // Dùng cho màu chữ - Xanh dương
   --text-red-color: #f87f50;
}

html {
   font-family: "Inter Tight", sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   //background-color: var(--bg-white) !important;
}

body {
   overflow: overlay;

}

* {
   font-family: "Inter Tight", sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   //background-color: var(--bg-white);
}

// Scrollbar style.
::-webkit-scrollbar {
   width: 8px !important;
   height: 8px !important;
   overflow: hidden !important;
}

::-webkit-scrollbar-thumb {
   background: #dfe3e4 !important;
   border-radius: 32px !important;
   border: 4px solid transparent !important;
   min-height: 50px !important;
}

::-webkit-scrollbar-thumb:hover {
   background: var(--bg-primary) !important;
}
