@use "sass:map";

.footer {
    //background: rgb(255, 247, 245);
    padding: 70px;
    padding-bottom: 0;
   
    .footer__about {
        margin-bottom: 30px;

        .footer__about__header {
            display: flex;
            align-items: center; 
            margin-bottom: 20px; 

            .footer__about__img {
                width: 180px; 
                height: auto; 
                margin-left: 40px; 
            }

            .footer__about__text {
                display: flex;
                flex-direction: column;
                margin-right: 20px; 
            
                h1 {
                    font-size: 16px;
                    color: #1a5c34;
                    margin: 0; 
                    padding: 0; 
                }
            
                h6 {
                    font-size: 35px;
                    color: #f6544e; 
                    font-weight: bold;
                    margin-top: 5px; 
                    padding: 0; 
                }
            }
        }

        .footer__company-info {
            h1 {
                font-size: 16px; 
                color: #1a5c34; 
                margin-bottom: 10px; 
            }
            
            ul {
                padding: 0;
                list-style: none;
                margin: 0;
            }
        
            .contact-info {
                margin-bottom: 10px; 
                display: flex; 
        
                .contact-label {
                    color: gray; 
                    //font-weight: bold;
                    margin-right: 5px;
                }
        
                .contact-detail {
                    color: black; 
                }
        
                .contact-email {
                    color: red; 
                }
            }
        
            .contact-details {
                display: flex; 
                justify-content: space-between; 
                .contact-info {
                    margin-right: 100px; 
                }
            }
        }
        .footer__about__app__contact {
            display: flex; 
            justify-content: space-between; 
        
            .footer__about__app{
                display: flex;
                flex-direction: column; 
                align-items: flex-start; 
                margin-top: 20px;
            }
            .footer__about__contact {
                display: flex;
                flex-direction: column; 
                align-items: flex-start; 
                margin-top: 20px;
                margin-right: 100px;
            }
        
            .footer__about__app__contact__text{
                margin-bottom: 10px; 
            }
        
            .footer__about__app__images,
            .footer__about__contact__images {
                display: flex; 
                gap: 20px; 
            }
        
            .footer__about__app__img{
                width: 100px; 
                height: auto;
            }
            .footer__about__contact__img {
                width: 30px;
                height: auto; 
            }
        }
        
    }
   
    .footer__widget {
        margin-bottom: 30px;
        overflow: hidden;
        margin-left: 43px;
    
        .footer__widget__sections {
            display: flex; 
            justify-content: space-between;  
            gap: 30px;  
    
            .footer__widget__section {
                flex: 1;  
                h6 {
                    margin-top: 5px;
                    font-size: 16px;
                    color: #1a5c34;
                   // font-weight: bold;
                }
        
                ul {
                    padding: 0;
                    list-style: none;
                    margin: 0; 
                    margin-top:20px;
                    width: 95%;
                    
                    li {
                        position: relative; 
                        padding-left: 30px; 
                        margin-bottom: 10px; 
        
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0; 
                            top: 50%; 
                            transform: translateY(-50%); 
                            width: 10px;
                            height: 10px; 
                            background-color: rgb(209, 213, 219); 
                            border-radius: 50%; 
                        }
                        
                        a {
                            color: #1c1c1c;
                            font-size: 16px;
                            line-height: 32px;
                            text-decoration: none;
                        }
                    }
                }
        
            }
        }
    }
    
    
    .footer__Link {
       
        display: inline-block; 
        justify-content: space-between; 
       
        .footer__Link__app__images{
            display: inline-block; 
            gap: 20px; 
        }
    
        .footer__Link__app__img{
            display: inline-block; 
            width: 25%; 
            height: 60px;
            padding-left: 50px;
        }
      
    }

    // footer bottom
    .footer__bottom {
        margin-top: 35px;
        background-color: #096331; 
        width: 100vw; /* Kéo dài toàn bộ chiều ngang của màn hình */
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        padding: 10px 0;
    }
    
    .footer__bottom_about {
        ul {
            display: flex;
            align-items: center;
            padding: 10px 0 13px;
            list-style: none;
            background-color: #096331;
            padding-left: 35px;
        }
    
        li {
            font-size: 15px;
            background-color:#096331;
            display: flex;
            align-items: center;
            height: 10px;
            color: #ffffff;
            margin: 0;
            position: relative;
            padding: 0 5px; 
        }
    
        li:not(:last-child)::after {
            content: "|";
            margin: 0 10px; 
            font-size: 20px; 
            color: #ffffff; 
        }
    }
    
        
}

    

